extends paginaUC

block innerContent
  h2 Aulas
  .aulas-container
    each aula in uc.aulas
      .aula-card
        h3 Tipo: #{aula.tipo}, Data: #{aula.data}
        p Sumário: #{aula.sumario.join(', ')}
        if aula.links && aula.links.length > 0
          .aula-links
            p Links:
            ul
              each link in aula.links
                li: a(href=link.url, target="_blank")= link.text
        // Botão de exclusão (aparece somente se o usuário for o proprietário)
        if isOwner
          form(method='POST', action=`/ucs/${uc.sigla}/aulas/${aula._id}/delete`)
            input(type='hidden', name='_method', value='DELETE')
            button.btn.btn-danger(type='submit') Excluir Aula
