extends layout

block content
  .container.mt-5
    .row
      .col-md-12
        h1.mb-4.text-left Criar Nova UC
    .row
      .col-md-6
        form(method='POST', action='/ucs')
          .form-group
            label(for='sigla') Sigla:
            input.form-control(type='text', id='sigla', name='sigla' required=true)

          .form-group
            label(for='titulo') Título:
            input.form-control(type='text', id='titulo', name='titulo' required=true)

          .form-group
            label(for='docentes') Docentes:
            textarea.form-control(id='docentes', name='docentes', placeholder='Separados por vírgula', required=true rows='3')

      .col-md-6
          .form-group
            label(for='avaliacao') Avaliação:
            textarea.form-control(id='avaliacao', name='avaliacao', placeholder='Separada por vírgula', required=true rows='3')

          .form-group
            label(for='dataTeste') Data do Teste:
            input.form-control(type='date', id='dataTeste', name='dataTeste', required=true)

          .form-group
            label(for='dataExame') Data do Exame:
            input.form-control(type='date', id='dataExame', name='dataExame', required=true)

          .form-group
            label(for='dataProjeto') Data do Projeto:
            input.form-control(type='date', id='dataProjeto', name='dataProjeto', required=true)

          button.btn.btn-primary.btn-block(type='submit') Adicionar UC
