extends layout

block content
  h1= title
  form(method='POST', action=`/ucs/${aula.sigla}/editar-aula/${aula._id}?_method=PUT`)
    .form-group
      label(for='tipo') Tipo:
      select.form-control(name='tipo')
        option(value='T', selected=aula.tipo === 'T') Aula Teórica
        option(value='P', selected=aula.tipo === 'P') Aula Prática
    .form-group
      label(for='data') Data:
      input.form-control(type='text', name='data', value=aula.data)
    .form-group
      label(for='sumario') Sumário:
      textarea.form-control(name='sumario')= aula.sumario
    button.btn.btn-primary(type='submit') Atualizar Aula
