extends layout

block content
  .form-container
    h1 Editar UC
    form(action=`/ucs/${uc.sigla}/editar-uc` method="post")
      .form-group
        label(for="titulo") Título:
        input(type="text" id="titulo" name="titulo" required value=uc.titulo)
      .form-group
        label(for="docentes") Docentes:
        input(id="docentes" name="docentes" required value=uc.docentes.join(";"))
      .form-group
        label(for="teoricas") Horário das Aulas Teóricas:
        input(id="teoricas" name="teoricas" required value=uc.horario.teoricas.join(";"))
      .form-group
        label(for="praticas") Horário das Aulas Práticas:
        input(id="praticas" name="praticas" required  value=uc.horario.praticas.join(";"))
      .form-group
        label(for="avaliacao") Avaliação:
        input(id="avaliacao" name="avaliacao" required value=uc.avaliacao.join(";"))
      .form-group
        label(for="dataTeste") Data do Teste:
        input(type="date" id="dataTeste" name="dataTeste" value=uc.datas.teste)
      .form-group
        label(for="dataExame") Data do Exame:
        input(type="date" id="dataExame" name="dataExame" value=uc.datas.exame)
      .form-group
        label(for="dataProjeto") Data do Projeto:
        input(type="date" id="dataProjeto" name="dataProjeto" value=uc.datas.projeto)
      button(type="submit") Atualizar
