extends paginaUC

block innerContent
  h2 Docentes: 
  p #{uc.docentes.join(', ')}
  h3 Horários:
  h4 Aulas Teóricas:
  ul
    each horario in uc.horario.teoricas
      li= horario
  h4 Aulas Práticas:
  ul
    each horario in uc.horario.praticas
      li= horario
  h3 Avaliação:
  p #{uc.avaliacao}
  h3 Datas:
  .aulas-container
    .aula-card
      h3 Teste
      p= uc.datas.teste || '???'
    .aula-card
      h3 Exame
      p= uc.datas.exame || '???'
    .aula-card
      h3 Projeto
      p= uc.datas.projeto || '???'
