extends layout

block content
  .sub-nav
    h2 #{uc.titulo}
  .side-nav
    ul
      li: a(href=`/ucs/${uc.sigla}/geral`) Geral
      li: a(href=`/ucs/${uc.sigla}/aulas`) Aulas
      li: a(href=`/ucs/${uc.sigla}/conteudo`) Conteúdo
        li
          form.leave-uc-form(action='/remove-uc', method='POST')
            input(type='hidden', name='siglaUC', value=uc.sigla)
            button.leave-uc-button(type='submit') Sair
    hr
    if isOwner
      ul
        li: a(href=`/ucs/${uc.sigla}/criar-aula`) Criar Aula
        li: a(href=`/ucs/${uc.sigla}/editar-uc`) Editar UC
        li: a(href=`/ucs/${uc.sigla}/apagar-uc`) Apagar UC
  .uc-info
    block innerContent